<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="medmart.loginmedmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LoginMedMart"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginMedMart">
        <activity android:name=".ForgotPassword.ForgetPasswordSuccessMessage"></activity>
        <activity android:name=".ForgotPassword.SetNewPassword" />
        <activity android:name=".ForgotPassword.VerifyOtp" />
        <activity android:name=".ForgotPassword.ForgetPassword" />
        <activity android:name=".Stub" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>